.body{
	background-color: #E8E8E8;
}

p{
	font-family: 'ABeeZee';
}

.centerText{
	text-align:center;
}

.scrollbox{
	height: 330px;
	overflow: auto;
	background-color: #e6e6e6;
}

.categoryBackgroundColor0{
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}

.categoryBackgroundColor1{
	/*background-color: #585858;*/
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}
	
.myCategories{
	font-size: 40px;
}	

.categoryImage{
	float: left;
}

.leftRight0{
	/*float:left;*/
	font-size: 20px;

	text-align:center;
}

.leftRight1{
	/*float:right;*/
	font-size: 20px;

	text-align:center;
}

.subcategoryColor0{
	/*background-color: #E8E8E8;*/
	border-top: solid;
}

.subcategoryColor1{
	/*background-color: #FFFFFF ;*/ 
	border-top: solid;
}

.cartLine0{
	/*background-color: #E8E8E8;
	border-top: solid;
	/*height:100px;*/
}
.cartLine1{
	/*background-color: #E8E8E8;
	border-top: solid;
	/*height:100px;*/
}
.product{
	border-top: solid;
}



.rightAlign{
	float:right;
}

#inner_ajax_Output{
	padding: 0px;
}

#Not_Ajax_Output{
	padding: 0px;
}

.textboxWidth{
	width: 30px;
}

.plusButtons{
	font-size: 20px;
}
.minusButtons{
	font-size: 25px;
}

.homePageImages{
	width:100%;
	padding-left:130px;
	padding-right:130px;
}
.smallHomePageImages{
	width:100%;
	padding-left:80px;
	padding-right:80px;
}
@media screen and (max-width: 1195px) {
	.homePageImages{
		width:100%;
		padding-left:80px;
		padding-right:80px;
	}
	.smallHomePageImages{
		width:100%;
		padding-left:80px;
		padding-right:80px;
	}
}

.productsImage{
	width:80%;
}

.errorReports{
	color:red;
}

.name{
	text-align: center;
	border-left: solid;
	border-bottom: solid;
	border-color: #808080;
	border-width: 1px;
	font-size: 20px;
	height:30px;
}
.discription{
	text-align: center;
	border-left: solid;
	border-right: solid;
	border-color: #808080;
	border-width: 1px;
	/*border-bottom: solid;*/
	height: 171px;
	line-height: 171px;
}
.discriptionSpan{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.price{
	text-align: center;
	border-bottom: solid;
	border-color: #808080;
	border-width: 1px;
	height: 85px;
	line-height: 85px;
}
.priceSpan{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.addToCart{
	text-align: center;
	/*border-bottom: solid;*/
	border-color: #808080;
	border-width: 1px;
	height: 85px;
	line-height: 85px;
}
.addToCartSpan{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.subcategoryColor{
	border:solid;
	border-color: #808080;
	border-width: 1px;
}
.testingImage{
	background-color: red;
}
/* sticky footer */
* {
	margin: 0;
}
.wrapper{
	margin-bottom: 90px;
}
html, body {
	height: 100%;
}

.footer{
	text-align:center;
	bottom:0px;
    position: fixed;  
    width:100%;
}