.body{
	background-color: #E8E8E8;
}

p{
	font-family: 'ABeeZee';
}

.centerText{
	text-align:center;
}

.scrollbox{
	height: 330px;
	overflow: auto;
	background-color: #e6e6e6;
}

.categoryBackgroundColor0{
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}

.categoryBackgroundColor1{
	/*background-color: #585858;*/
	background-color: #686868; 
	color: white;
	

	border: solid;
	border-width: 1px;
	border-color: black;
}
	
.myCategories{
	font-size: 40px;
}	

.categoryImage{
	float: left;
}

.leftRight0{
	/*float:left;*/
	font-size: 20px;

	text-align:center;
}

.leftRight1{
	/*float:right;*/
	font-size: 20px;

	text-align:center;
}

.subcategoryColor0{
	/*background-color: #E8E8E8;*/
	border-top: solid;
}

.subcategoryColor1{
	/*background-color: #FFFFFF ;*/ 
	border-top: solid;
}

.cartLine0{
	/*background-color: #E8E8E8;
	border-top: solid;
	/*height:100px;*/
}
.cartLine1{
	/*background-color: #E8E8E8;
	border-top: solid;
	/*height:100px;*/
}
.product{
	border-top: solid;
}



.rightAlign{
	float:right;
}

#inner_ajax_Output{
	padding: 0px;
}

#Not_Ajax_Output{
	padding: 0px;
}

.textboxWidth{
	width: 30px;
}

.plusButtons{
	font-size: 20px;
}
.minusButtons{
	font-size: 25px;
}

.homePageImages{
	width:100%;
	padding-left:130px;
	padding-right:130px;
}
.smallHomePageImages{
	width:100%;
	padding-left:80px;
	padding-right:80px;
}
@media screen and (max-width: 1195px) {
	.homePageImages{
		width:100%;
		padding-left:80px;
		padding-right:80px;
	}
	.smallHomePageImages{
		width:100%;
		padding-left:80px;
		padding-right:80px;
	}
}

.productsImage{
	float:left;
}

.errorReports{
	color:red;
}



/* sticky footer */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	text-align:center;
	height: 4em;
}